{% extends "recipes/layout.html" %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">{% endblock styles %}
{% block title %}Главная - Сайт рецептов НямВилль{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="recipe-feed">
            {% for recipe in recipes %}
            <div class="recipe-card">
                {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                {% else %}
                    <img src="{% static 'recipes/img/default.jpg' %}" alt="Нет изображения">
                {% endif %}
                <div class="recipe-info">
                    <h3>{{ recipe.title }}</h3>
                    <p><strong>Ингредиенты:</strong> {{ recipe.ingredients|truncatechars:50 }}</p>
                    <a href="{% url 'recipe_details' recipe.id %}" class="btn">Открыть рецепт</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer style="margin-top: 20px;">
        <p>&copy; 2025 NomVille - Все права защищены</p>
    </footer>
</div>
{% endblock %}
